body {
    color: rgb(94, 86, 86);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(182, 170, 170, 0.158);
    overflow-x: hidden;
}